// Colors
$primary-color: #0B0B0B;
$secondary-color: #690102;
$text-color: #fff;
$secondaryText-color: #B70021;
$base-fsize: 24px;
$base-lheight: 28px;
$base-font: 'Roboto Condensed',
sans-serif;
$secondary-font: 'Roboto',
sans-serif;
// / Colors